/* ------------------------------------------
 * Template vars
 *------------------------------------------- */

$containerMaxWidth: 600px;
$defaultPadding: 15px;

$defaultFontFamily: 'Helvetica', 'Arial', 'Calibri', sans-serif;
$defaultTextColor: #1a1a1a;