/* ------------------------------------------
 * Responsive style
 *------------------------------------------- */
@import "vars";

body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
body, table, td, a {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
table {
  border-collapse: collapse !important;
}
img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

@media screen and (max-width: $containerMaxWidth){
  .mobile-padding {
    padding-left: $defaultPadding !important;
    padding-right: $defaultPadding !important;
  }
  .full-width {
    width: 100% !important;
  }
  
  // Grid modifier
  .wrapper, .col-full-width {
    width: 100% !important;
  }
  .img-cover {
    width: 100% !important;
    img {
      display: block;
      width: 100% !important;
    }
  }
  .col-s-1 {
    width: 100% !important;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;
    }
  }
}